@font-face { font-family: RavenScream; src: url('./assets/fonts/raven-scream/RavenScream.ttf')}

:root {
    --steel-blue: #AFB5D2;
    --steel-white: #B9CBE2;
    --dark-blue: #060A16;
}

body {
    background-color: var(--dark-blue);
    z-index: 0;
}

h1 {
    color: var(--steel-blue);
}

#loading {
    opacity: 0;
}

#start-button {
    background-color: var(--steel-white)
}

.fuzzy-overlay {
    position: absolute;
    z-index: 1; 
    inset: -200%;
    background-image: url("./assets/textures/white-noise.avif");
}