@font-face { font-family: RavenScream; src: url('./assets/fonts/raven-scream/RavenScream.ttf')}
@font-face { font-family: BeatMyGuest; src: url('./assets/fonts/beat-my-guest/Beat\ My\ Guest.otf')}

:root {
    --steel-blue: #AFB5D2;
    --steel-white: #B9CBE2;
    --opaque-blue: #7B97C5;
    --dark-blue: #060A16;
}

body {
    position: relative;
    background-color: black;
    z-index: 2;
    overflow: hidden;
}

#container {
    position: relative;
    z-index: 2;
}

h1 {
    color: var(--steel-blue);
}

p {
    color: var(--steel-blue);
}

#loading {
    opacity: 0;
    position: fixed;
    bottom: 314px;
    right:0;
    font-family: BeatMyGuest;
}

#start-button {
    background-color: var(--opaque-blue);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#controls-container {
    position: fixed;
    bottom: 10px;
    right: 0px;
}

@keyframes shift { 
    0% {
        transform: translateX(10%) translateY(10%) 
    }   
    100% {
        transform: translateX(-10%) translateY(-10%)
    }
}

/* GLITCH EFFECT */
.stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }