html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
canvas { display: block; } 

#escape-container {
    display: none;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 6vw; 
    width: 15vw;
    height: 15vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-button {
    padding: 10px;
    margin: 5px;
    width: 100%;
}

#instructions {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;

}

#crosshair {
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fire {
    width: 200px;
    height: 200px;
    margin: -40px;
}

#healthbar {
    position: fixed;
    bottom: 20px;               
}