body {
    margin: 0 auto;
}

#escape-container {
    display: none;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 6vw; 
    width: 15vw;
    height: 15vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.menu-button {
    padding: 10px;
    margin: 5px;
    width: 100%;
}

#instructions {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;

}

#crosshair {
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fire {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: fixed;
    top: 60%;
    left: 10%;
}