body {
    margin: 0 auto;
}

#escape-container {
    display: none;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 6vw; 
    width: 6vw;
    height: 6vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.menu-button {
    padding: 10px;
}